/* estilos globais */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inconsolata", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

strong, span {
  text-transform: capitalize; /* para pegar trechos em texto e capitalizar */
}


/* estilos para o header da página principal */

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* fim do estilo pro header da página princial */

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-brand {
  width: 2rem;
}

.menu-icons i {
  font-size: 3.5rem;
  color: #fafafa;
  cursor: pointer;
}

.close i {
  color: #f50001;
}

.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: #d7d4ed;
  font-weight: bolder;
  opacity: .75;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1500;
  transition: all 600ms ease-in-out;
}

/* criando o deslizamento do menu e colocando a classe dinamicamente via
  javascript */
.nav-list.active {
  right: 0;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

/* termino do deslizamento */

.nav-item {
  margin: 2.5rem;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.main {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
    135deg, rgba(154, 0, 24, 0.2) 0%, rgba(184, 50, 0, 0.6) 100%
  ), url('../assets/img/main.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}

.main strong {
  text-transform: capitalize;
}

.main::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  border-bottom: 0;
  height: 4.7rem;
  background: url('../assets/img/wave-small.png') center no-repeat;
  background-size: cover;
}

.main-message {
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  text-transform: uppercase;
  transform: translateY(20%);
  background-color: rgba(154, 0, 24, 0.5);
  padding: 1.4rem;
}

.main-message h3 {
  font-size: 1.6rem;
}

.main-message h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

.main-message p {
  text-transform: lowercase;
}

.click-now {
  font-size: 1.5rem;
  border-radius: 2rem;
  background-color: #ff2929;
  color: #fafafa;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
}

.click-now:hover {
  background-color: #bb3535;
}

/* fim do estilo pro header */

/* estilos pro main */

.main-section {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
  color: rgba(0, 0, 0, 0.7);
}

.span-desc {
  font-size: 2rem;
}

.title-heading {
  margin-top: -1.75rem;
  margin-bottom: 1.25rem;
}

.title-heading h3 {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

.title-heading h1 {
  font-size: 2rem;
  margin: .5rem 0 1rem;
  display: flex;
  margin-bottom: -1.25em;
  justify-content: center;
}

.title-heading p {
  text-transform: lowercase;
}

.grid-activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* minimo de 25rem e max de 1 fração */
  grid-gap: 2.5rem; /* criar um espaço entre as colunas e ficar mais responsivo */
}

.grid-activities-item {
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.grid-activities-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(154, 0, 24, 0.2) 0%, rgba(184, 50, 0, 0.6) 100%);
  z-index: -1;
}

.star {
  background: url('../assets/img/stars.jpg') center no-repeat;
}

.compass {
  background: url('../assets/img/asteroids.jpg') center no-repeat;
}

.exporting {
  background: url('../assets/img/exporting.jpg') center no-repeat;
}

.grid-activities-item i {
  font-size: 4rem;
  color: #ff2929;
}

.grid-activities-item h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 2rem 0;
}

/* fim dos estilos pro main */

/* estilos da section depoimentos */

.depoimentos {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
    135deg, rgba(154, 0, 24, 0.5) 0%, rgba(184, 50, 0, 0.8) 100%
  ), url('../assets/img/testimonials.jpg') center no-repeat fixed;
  background-size: cover;
  position: relative;
}

.depoimentos::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 4.7rem;
  background-image: url('../assets/img/wave-small-reversed.png') center no-repeat;
  background-size: cover;
}

.depoimento {
  width: 100%;
  color: #fafafa;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.depoimento-text-box {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.depoimento-text-box i {
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8rem;
  color: #ff2929;
  opacity: .5;
  z-index: -1;
}

.depoimento-cliente img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: 3px solid #ff2929;
}

/* area de exportação, comece a exportar */

.title-heading {
  height: 5.5rem;
}

.comeca-exportar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 2rem;
  box-shadow: 4px 4px 5px gray;
  padding: 10px;
  line-height: 2.5rem;
}

.comeca-exportar-grid-item p {
  color: rgba(0, 0, 0, 0.7);
}

footer {
  padding: 2.5rem 0;
  background-color: #f3717173;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

/* responsividade com media-queries */

@media screen and (min-width: 360px) {
  .main-message {
    transform: translateY(40%);
  }
}

@media screen and (min-width: 480px) {
  .main::before {
    height: 9.4rem;
    background: url('../assets/img/wave-medium.png');
    background-size: cover;
  }

  .depoimentos::before {
    height: 9.4rem;
    background: url('../assets/img/wave-medium-reversed.png');
    background-size: cover;
  }
}

@media screen and (min-width: 720px) {
  header {
    height: 8rem;
  }

  .nav-brad {
    width: 3.5rem;
  }

  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    display: flex;
    flex-direction: row;
    transition: initial;
  }

  .menu-icons {
    display: none;
  }

  .nav-items {
    margin: 0 2.5rem;
  }

  .nav-link,
  .current {
    color: #fafafa;
    position: relative;
    font-size: 1.3rem;
  }

  .nav-link::before,
  .current::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    background-color: #ff2929;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
  }

  .current::before {
    transform: scaleX(1);
  }

  .nav-link:hover::before {
    transform: scaleX(1);
  }

  .main {
    height: 60vh;
  }

  .main-message {
    transform: translateY(70%);
  }

  .title-heading h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 950px) {
  .main::before {
    height: 22.7rem;
    background: url('../assets/img/wave-large.png');
    background-size: cover;
  }

  .depoimentos::before {
    height: 22.7rem;
    background: url('../assets/img/wave-large-reversed.png');
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    height: 75vh;
  }
}